<template>
  <form class="form container" @submit.prevent="submit">
    <div class="form-group">
      <input id="searchInput" class="form-control" v-model="text" type="text" v-focus>
      <label for="searchInput">Wpisz frazę</label>
      <input class="btn btn-outline-primary" type="submit" value="Szukaj">
    </div>
    <loader v-if="loader" />
  </form>
</template>

<script>
import loader from './Loader'
export default {
  components: {loader},
  data () {
    return {
      text: '',
      loader: false
    }
  },
  methods: {
    submit () {
      this.loader = true
      this.$store.dispatch('getBooks', this.text)
      .then(() => {
        this.loader = false
      })
      this.text = ''
    }
  },
  directives: {
    focus: {
      inserted: el => {
        el.focus()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.form-group {
    position: relative;
    label {
        position: absolute;
        top: .4em;
        left: .8em;
        transition: .2s;
    }
    input[type="text"] {
        margin-bottom: 1.4em;
        &:focus + label {
            top: -2em;
        }
    }
    input[type="submit"] {
        cursor: pointer;
    }
}
</style>
