<template>
  <li class="col-sm-12 col-lg-6 col-xl-4">
    <div class="card">
      <div class="row">
        <div class="card-image col-md-4 col-xl-12">
          <img :src="data.cover" class="card-img-top" :alt="data.title">
        </div>
        <div class="card-body col-md-8 col-xl-12">
          <header>
            <h4 class="card-title">{{data.title}}</h4>
            <h5 class="card-text">{{data.author}}</h5>
          </header>
          <dl>
            <dt class="card-text">Numer ISBN:</dt>
            <dd>{{data.isbn}}</dd>
            <dt class="card-text">numer dopuszczenia MEN:</dt>
            <dd>{{data.men}}</dd>
            <dt class="card-text">Liczba stron:</dt>
            <dd>{{data.pages_count}}</dd>
            <dt class="card-text">Przedmiot:</dt>
            <dd>{{data.subject}}</dd>
            <dt class="card-text">Rodzaj:</dt>
            <dd>{{data.type}}</dd>
            <dt class="card-text">Poziomy nauczania:</dt>
            <dd v-for="(item, index) in data.levels" :key="index">
              {{item.school}} - {{item.class}}
            </dd>
          </dl>
          <footer>
            <a :href="data.url" target="_blank" class="btn btn-primary btn-lg btn-block btn-outline-primary">Przejdź do księgarni</a>
          </footer>
        </div>
      </div>
    </div>
  </li>
</template>
<script>
export default {
  props: ['data']
}
</script>
<style lang="scss" scoped>
li {
    margin-bottom: 1.4em;
  .card {
    height: 100%;
    padding: 0 .8em;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
    .row {
      height: 100%;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      text-align: left;
      dl {
        flex: 1;
        margin-top: 2em;
      }
      .card-text {
        font-weight: 300;
        color: #999
      }
    }
  }
}
</style>
