<template>
  <div class="loader"></div>
</template>
<style lang="scss" scoped>
$radius: 40px;
$border: 2px;
.loader {
  border: $border solid #f3f3f3; /* Light grey */
  border-top: $border solid #3498db; /* Blue */
  border-radius: 50%;
  width: $radius;
  height: $radius;
  animation: spin 2s linear infinite;
  margin: 2em auto 0 auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
