<template>
  <div id="app">
    <img class="logo" src="./assets/logo_gwo.png" alt="Logo Gdańskiego Wydawnictwa Oświatowego">
    <app-form />
    <div class="container">
      <ul class="row">
        <item v-for="(item, index) in books" :key="index" :data="item" />
      </ul>
    </div>
  </div>
</template>

<script>
import appForm from './components/Form'
import item from './components/Item'

export default {
  name: 'app',
  components: {
    appForm,
    item
  },
  computed: {
    books () {
      return this.$store.state.books
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
#app {
  margin-top: 3.4em;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  max-height: 100%;
}
.logo {
  margin-bottom: 3.4em;
}
ul {
  margin-top: 3em;
  list-style-type: none;
}
</style>
